#app {
    width: 100%;
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas#lemon {
    max-width: 1280;
    max-height: 720;
    display: block;
}
